.footer {
  display: flex;
  justify-content: space-around;
  background-color: #2076d8;
  color: white;
  padding: 10px;
}
.btn {
  border: 1px solid #2076d8;
  border-radius: 30%;
  background-color: white;
  cursor: pointer;
}