$btnColor: #4995eb;
$shdwColor: #103aad;

@mixin button {
  border: none;
  background-color: white;
  cursor: pointer;
  position: fixed;
  background-color: rgba($color: $btnColor, $alpha: 0.3);
  box-shadow: 0px 0px 20px 10px rgba($color: $shdwColor, $alpha: .2);
  font-weight: bold;
  height: 50px;
  transition: width 1s;
};

.btn {
  @include button();
  width: 50px;
}

.btnHover {
  @include button();
  width: 150px;
}

.back {
  top: 100px;
  border-radius: 0% 20% 20% 0%;
}

.environment {
  top: 100px;
  right: 0px;
  border-radius: 20% 0% 0% 20%;
}

.content {
  opacity: 0;
  transition-property: opacity;
  transition-delay: 0s;
}

.contentHover {
  opacity: 1;
  transition-property: opacity;
  transition-delay: 0.8s;
}