.wrapperMain {
  margin: 50px 300px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: #6bf9e8;
}
.intro {
  margin: 10px 0px 0px 0px;
}
.wrapperMode {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.mode {
  width: 300px;
  background-color: #ffffff;
  cursor: pointer;
  padding: 20px;
  font-size: 1.2em;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.mode ul {
  list-style-type: none;
  width: 80%;
  text-align: center;
  padding: 0px;
  margin: 0px auto;
}

.mode:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.modeName {
  margin: 0px 0px 10px 0px;
}
.description {
  font-size: 1.2em;
}

@media only screen and (max-width: 1200px) {
  .wrapperMain {
    margin: 10px;
  }
  .mode {
    width: 220px;
  }
}

@media only screen and (max-width: 600px) {
  .wrapperMode {
    display: block;
    margin: 20px;
  }
  .mode {
    margin: 0px;
    width: initial;
  }
  .mode:nth-of-type(1) {
    margin-bottom: 20px;
  }
}