.regName {
  text-align: center;
  margin: 0px auto;
}
.curRegs {
  text-align: center;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: #ffff;
  width: 560px;
  padding: 40px 20px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.codes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}
.code {
  width: 45px;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.btnWrapper {
  width: 90px;
  margin: 0px auto;
}
.btn {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgb(52, 148, 148);
  border-radius: 5px;
  background-color: rgb(52, 148, 148);
  color: white;
  box-shadow: 0px 0px 2px 2px rgba(52, 148, 148, 0.5);
}
.btn:hover {
  box-shadow: 0px 0px 5px 5px rgba(52, 148, 148, 0.5);
}