.header {
  padding: 10px;
  background-color: #2076d8;
  color: #dcdcdc;
  display: flex;
  justify-content: space-between;
}
.stats {
  display: flex;
}
.element {
  font-weight: bold;
  color: white;
  transition: color 0.5s;
}
.timer {
  margin: 0px;
  text-align: right;
}
.stat:nth-of-type(2n + 2) {
  margin: 0px 10px;
}
.title {
  margin: 0px;
}